[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/dieal/Desktop/Ricetta_Samuele_Lombardi.jpg]
row=4
col=0

[Floppy Disk]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/dieal]
row=3
col=0

